html,body { background:#ececec;}
/* 覆盖 */
ul,li { list-style: none; padding: 0; margin: 0}
/* 外挂图形文字 */
/* 圆形按钮 */
.pet_circle_nav {padding:25px 10px 5px;max-width: 100%; background:#F0E8B4;   }
.pet_circle_nav_list{ max-width: 100%; overflow: hidden;}
.pet_circle_nav_list li { width: 25%; float: left; margin-bottom: 15px;}
.pet_circle_nav_list a {border-radius: 50%; width: 55px; height: 55px; display: block; margin: 0 auto; color: #fff; text-align: center; line-height: 55px; font-size: 35px;-webkit-transition: all 0.2s ease;transition: all 0.2s ease;}
.pet_circle_nav_list a:hover { -webkit-box-shadow: inset 0 0 40px rgba(0,0,0,.3); box-shadow: inset 0 0 40px rgba(0,0,0,.3);-webkit-transition: all 0.2s ease;transition: all 0.2s ease; }
.pet_circle_nav_list span { display: block; width: 100%; text-align: center; padding-top: 5px; font-size: 14px;}
/*.pet_nav_xinxianshi { background: #fe9700; }*/
/*.pet_nav_zhangzhishi {background: #f26765; }*/
/*.pet_nav_kantuya {background: #6f68df; }*/
/*.pet_nav_mengzhuanti {background: #7f2d00;}*/
/*.pet_nav_meirong {background: #fd7a49;}*/
/*.pet_nav_gengduo { background: #7fd02b;}*/
/*.pet_nav_yiyuan {background: #19cf8a; }*/
/*.pet_nav_dianpu {background: #4493f7;}*/
